.AddTable{
    background-color: #dfe3e6;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 3px;
    text-align: center;
    width: 250px;
    height: 100px;
}
.forButton{
   padding-left: 15px;
}
.forInput{
    margin-bottom: 5px;
}
.addButton{
   margin-top: 5px;
}

.buttonTable{
    display: flex; 
    flex-direction: row;
}
.archiveButton{
    margin-top: 5px;
    margin-left: 25px;
}
.closeButton{
    margin-top: 2px;
    margin-left: 180px;
}
.Archive{
    background-color: #dfe3e6;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 3px;
    text-align: center;
    width: 250px;
    height: auto;
    padding: 1px 0;
}
.CardElem{
   
    background-color: white;
    border-radius: 10px;    
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 1px 0;
}