.App {
  background-color: #66caeb;
  text-align: center;
  position: absolute; 
  height: 100%;
  width: 100%;
  
}
.buttonAdd{
  text-align: left;
  margin-top: 2px;
  margin-left: 18px;
}
.App2{
  
  display: flex; 
  flex-direction: row;

}






