.CardElement{
    background-color: white;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 1px 0;
}
.CartModal{
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    left: 20%;
    right: 20%;
    margin-top: 6.3%;
    position: absolute;
    text-align: center;
    
}
.button_group{
    display: flex;
    flex-direction: row;
    float: right;
}
.closeButton_cartModal{
    margin: 20px 20px 20px 5px;
}
.editButton_cartModal{
    margin: 20px 5px 20px;
}
.saveButton_cartModal{
    margin: 20px 5px 20px;
}
.display_element{
    display: inline-block;
}
.display_element1{
    display: inline-block;
    margin-top: 5px;
}
.hide_element{
    display: none;
}
#cart_title_input{
    height: 20px;
    width: -webkit-fill-available;
    margin: 0 20px;
}
#cart_description_input{
    width: -webkit-fill-available;
    margin: 0 20px;
    height: 100px
}
.archive_style{
    background-color: rgb(177, 175, 175);
    border-radius: 10px;
    color: white;
     margin-left: 1%; 
     margin-top: 1%;
     margin-right: 1%;
    display: flex; 
    text-align: center;   
    padding: 1px 0;
    height: 100px;
    width: 300px;
}

.IconStyle{
    line-height: 12px;
    width: 18px;   
    margin-top: -1.2%;
    margin-right: 1.8%;
    position:absolute;
    top:0;
    right:0;
}
.CartModal1{
    margin-top: 2px;
}