.CardElement{
    background-color: white;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 1px 0;
}
.CartModal{
    background-color: #f5f1f1;
    border: 1px solid black;
    left: 20%;
    right: 20%;
    position: absolute;
    text-align: center;
    margin-top: 20px;
}
.button_group_cust{
    width: -webkit-fill-available;
    display: inline-block;
    text-align: right;
}
.closeButton_cartModal{
    margin: 20px 20px 20px 5px;
}
.editButton_cartModal,
.saveButton_cartModal,
.deleteButton_cartModal,
.shareButton_cartModal,
.labelButton_cartModal{
    margin: 20px 5px 20px;
}
.display_element{
    display: inline-block;
}
.display_element2{
    display: block !important;
}
.hide_element{
    display: none !important;
}
#cart_title_input{
    height: 20px;
    width: -webkit-fill-available;
    margin: 0 20px;
}
#cart_description_input{
    width: -webkit-fill-available;
    margin: 0 20px;
    height: 100px
}

.Attchment{
    margin-top: 1.4%;
    margin-left: 20px;
    float: left;

}

.comments_block{
    padding: 20px 20px 20px 20px;
    text-align: left;
}
.new_comment{
    width: -webkit-fill-available;
    height: 25px;
}
.addComment_cartModal,
.addAttachment_cartModal{
    float: right;
    margin: 10px 5px 20px 5px;
}
.linkToCard{
    float: right;
    margin: 0 20px 20px;
    width: -webkit-fill-available;
    text-align: right;
}
.linkToCard_input{
    vertical-align: super;
    width: 75%;
}
.labels_section{
    display: flex;
    margin-left: 10px;
}
.LabelsModal{
    background-color: #f1f1f1;
    border-radius: 5px;
    height: auto;
    max-height: 480px;
    width: 220px;
    top: 140px;
    right: 13%;
    position: absolute;
    overflow-y: auto;
}
.label_item{
    padding: 3px;
    margin: 0 5px;
    border-radius: 5px;
}
.iconSection_labelModal{
    display: inline-block;
    margin: 10px;
}
.iconBack_labelModal{
    position: absolute;
    left: 5%;
    top: 5%;
}
.iconClose_LabelsModal{
    position: absolute;
    right: 5%;
    top: 5%;
}
.addNewLabel_button{
    margin: 0 10px 10px !important;
    width: -webkit-fill-available;
}
.addLabel_button,
.updateLabel_button{
    margin-top: 10px !important;
    width: -webkit-fill-available;
}
.addNewLabel_version{
    padding: 5px;
}
.labelText_input{
    width: -webkit-fill-available;
    margin: 10px 0;
}