.ListElement{
    background-color: #dfe3e6;
    margin-left: 10px;    
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: -webkit-fill-available;
}
.button_addCard{
    margin: 5px 5px 10px 5px;
}
.new_cart_title{
    margin: 10px 5px 0 5px;
}
.titleList{
    display: flex; 
    flex-direction: row;
    text-align: center;
    margin-left: 25%;
}
.titleName{
    margin:auto;
}
.buttonArch{
    margin-left: 10px;
    margin-right: 10px;
}