.ListTableStyle{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.ContainerList{
    background-color: #dfe3e6;
    margin-left: 10px;
    padding-top: 15px;    
    border-radius: 3px;
    text-align: center;
    width: 300px;
    height: -webkit-fill-available;
}
.title{
    font-size:30px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.listClass{
    margin-top: 1%;
}