.TabInList{
   background-color: #ffffff;
   margin-left: 10px;
   margin-right: 10px;
   border-radius: 3px;
   text-align: center;
   width: 300px;
}
.TableListComponent{
    margin-top: 1%;
}
.TabIcon{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    margin-bottom: 5px;
}
.archIcon{
    margin-left: 5px;
    margin-bottom: 5px;
}